$mobile-width-min: 320px;
$mobile-width-max: 767px;

$tablet-width-min: 768px;
$tablet-width-max: 1023px;

$desktop-width-min: 1024px;
$desktop-width-max: 1366px;
$desktop-container-width: 1170px;

$color-bright-blue: #2C36F2;
$color-blue: #011C40;
$color-midnight-blue: #2028B6;
$color-dark-blue: #1F1E25;
$color-blue-gray: #2B3C4F;
$color-white: #F6F7FF;
$color-white-grey: #E0E0E0;
$color-bright-grey: #E0E1EA;
$color-grey: #707C87;
$color-line-grey: #C1C2CA;
